* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

#title {
    color: #CC0000;
    font-size: 60px;
    text-align: center;
    font-family: serif;
}

#description {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

#survey-form {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    margin: 30px 200px;
    color: white;
    background-color: rgba(27, 27, 50, 0.9);
    font-size: 19px;
}

#submit {
    display: block;
    width: 20%;
}

body {
    background: url(/img/20190319101934.jpg) no-repeat;
    background-size: cover;
}

label {
    padding: 8px 0px;
}